.home_nav{
  display: flex;
  height: 6.0441%;
  margin-top: 30px;
  align-items: center;

}

.home_nav_link{
  text-decoration: none;
  cursor: pointer;
  color: #333333;
  font-weight: bold;
  font-size: 24px;

}
.home_nav_link:nth-child(2){
  margin-left: 29.4348%;
  margin-right: 6.0441%;
}

.home_nav_link:nth-child(3){
  margin-right: 6.0441%;
}

.home_nav_link:nth-child(4){
  margin-right: 23.7987%;
}

.home_nav_link:hover{
  color: #fe4400;
}

