.home_instrucao_pequeno{
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 5.9685%;
  margin-bottom: 0;
  line-height: 1.25;
  text-align: center;
  
}

.home_instrucao_grande{
  font-size: 45px;
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1.8%;
  
 
}

