@media (max-height: 768px) {
  .j-instrucao_pequeno {
    margin-top: 3%;
  }

  .j-instrucao_grande {
    margin-top: 0.5%;
  }

  .home_jogo_selecao {
    height: 320px;
    width: 250px;
  }

  .home_botao_fila {
    margin-top: 20px;
  }
}
@media(min-width:0)and(max-width:768px) {




  .home_nav{
    width: 100%;
    height: 100%;
    padding: 69px 40.2px 56.9px 0;
    margin: 0;
    background-color: #fff;
    position: fixed;
    top:0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    left: 100%;
    transition:  all linear .25s;

  }

  .home_nav.visible {
    left: 0%;
}

  .home_logo_fifo{
    width: 78.57px;
    order:4;
    margin-top: auto;

  }

  .home_nav_container_links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    li {
      margin-bottom: 63px;
      & + li {
        margin-left: 0px;
      }
    }
  }
  .home_nav_link{
    margin-right: 0!important;
    margin-bottom: 63px;
  }
  .home_nav_pessoa{
  display: none;
  }
  .home_nav_botao{
    display: block;
    border-radius: 8px;
    background-color: #FE885C;
    width: 48px;
    height: 48px;
    border:0;
    margin-bottom: 43px;
  }
  .home_nav_icone{
    color: #fff;
  }
  .jm-navegacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 0;
  }

  .jm-navegacao__logo {

    width: 62px;

  }

  .jm-navegacao__usuario {
    color: #36357e;
    font-family: 'Metropolis Bold';
    font-size: 16px;

    text-align: left;
    line-height: 1.1;
  }

  .jm-navegacao__icone-menu {

  }

  .j-instrucao_pequeno {
    font-size: 14px;
    margin-top: 28px;
    line-height: normal;
  }

  .j-instrucao_grande {
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 1.25;
  }

  .j-area-items {


  }

  .j-carrossel__slide {
    height: 396px;
    margin-bottom: 0;
  }

  .j-carrossel__botao {
    margin-top: 0;
    width: 100%;
  }


  body{
    position: relative;
  }

  .jm-navegacao__icone-menu{

  }







}
// .j-carrossel__seta-voltar{
//
//   margin-right: 8.1px;
// }
// .j-carrossel__seta-avancar{
//
// }
@media(min-width:768px) and (max-width:1024px) {
  .home_nav {
    display: none;
  }

  .jm-navegacao {
    width: auto;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .jm-navegacao__logo {
    width: 93.3px;
    margin-right: 241.3px;
    margin-left: 31.2px;
    margin-top: 21.4px;
  }

  .jm-navegacao__usuario {
    color: #36357e;
    font-family: 'Metropolis Bold';
    font-size: 22px;
    margin-right: 234px;
    margin-top: 41px;
    text-align: left;
    line-height: 1.1;
  }

  .jm-navegacao__icone-menu {
    font-size: 40px;
    margin-right: 17.9px;
    margin-top: 42px;
  }

  .j-instrucao_pequeno {
    color: #333333;
    font-size: 14px;
    margin-top: 113px;
    line-height: normal;
  }

  .j-instrucao_grande {
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 1.25;
  }

  .j-area-items {
    padding: 0 16%;
  }

  .j-carrossel__slide {

    height: 398px;
    margin-bottom: 24px;

  }



  .j-carrossel__botao {
    width: 280px;
    margin-top: 0;
    // margin-bottom: 113px;
  }
  .slick-list {
    margin-bottom: 113px;
  }
}
