.home_botao_caixa {
  display: flex;
}

.home_botao_fila {
  align-items: center;
  background: #fe885c;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  margin-top: 26.7px;
  text-transform: uppercase;
  width: 256px;
}

.home_botao_fila:first-child {
  margin-right: 195px;
}

.home_botao_fila:nth-child(2) {
  margin-right: 195px;
}

.material-icons {
  margin-left: 17.1px;
}
