@media (max-height: 768px) {
  .home_instrucao_pequeno {
    margin-top: 3%;
  }

  .home_instrucao_grande {
    margin-top: 0.5%;
  }

  .home_jogo_selecao {
    height: 320px;
    width: 250px;
  }

  .home_botao_fila {
    margin-top: 20px;
  }
}
