.home_botao_fila{
  background: #fe885c;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 8px;
  border:none;
  width: 296px;
  height: 48px;
  margin-top: 26.7px;
}

.home_botao_fila:first-child{
  margin-right: 154px;
}


.home_botao_fila:nth-child(2){
  margin-right: 154px;
}
