.j-instrucao_pequeno{
  font-weight: bold;
  text-align: center;
  font-family: 'Metropolis Medium';
  font-size: 0.88rem;
  text-transform: uppercase;
  margin-top: 6.6666%;
  margin-bottom: 0;
  line-height: normal;
  text-align: center;

}

.j-instrucao_grande{
  font-size: 2.81rem;
  font-family: 'Metropolis Bold';
  font-weight: bold;
  line-height: normal;
  margin-top: 1.4035%;
  margin-bottom: 3.6842%;
}
