body{
width: 100%;
font-family: 'Metropolis Medium';
min-height:(100vh);
display: flex;
flex-direction: column;
align-items: center;
background-color: #e5e5e5;
color: #333333;

}
@font-face {
    font-family: 'Metropolis Medium';
    src: url("../styles/helpers/fonts/Metropolis-Medium.otf")
}

