
.conteudo{

  width: auto;
  min-height:(100vh);
  display:flex;
  justify-content: center;
  background-color: #FFFFFF;

}

.nome{
  
  display: flex;
  width: auto;
  height: auto;
  align-items:center;
  flex-direction: column;

}
