
body{
  width: 100%;
  font-family: 'MetropolisRegular';
  min-height:(100vh);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background: #36357e;

}

// .primeira-pagina{
//   max-width: 1140px;
//   margin: 0 auto;
//
// }
