


@media (max-width:768px){

  .logo{
    width: 200px;
    margin-top: 80px;

  }

  .instrucao__email{
    font-size: 24px;
    margin-top: 45.6px;
    margin-bottom: 0;

  }


.form__input{
  width: 320px;
  left:75%;
}


.visitante__titulo{
  font-size: 20px;
}

.visitante__botao{
  margin-top: 16px;
  font-size: 16px;
}

.visitante__aviso{
  width: 329px;
  margin-bottom: 27px;
}






}
