.visitante__titulo{
  font-family: 'Metropolis Medium';
  font-size: 24px;
  margin-top: 42px;
}


.visitante__botao{

  width: 166px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
  color: #ffffff;
  background-color: #6263ab;
  border:0;
  margin-top: 16px;
  text-transform: uppercase;
}

.visitante__aviso{
  margin-top: 32px;
  margin-bottom: 156px;
}
