.selecao_botao{
    cursor:pointer;
    width: 330px;
    height: 140px;
    border-radius: 20px;
    border:none;
    background-color: #FFFFFF;

}

.selecao_botao:first-child{
  margin-right: 5px;
}



.selecao_botao a{
    font-size: 2.2rem;
    text-decoration:none;
    color: #303033;
}
