.selecao_botao{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 96px;
  margin: 0;
  padding: 0 10px;
  border-radius: 10px;
  border:none;
  &+&{
  margin-left: 13.9931%;
  }
  font-size: 26px;
  font-weight: 500;
  color: #303033;
  text-decoration: none;
  background-color: #ffffff;
}

